.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
}

.button {
    -fx-background-color: #73000A;
    -fx-text-fill: white;
}

.backButton {
    -fx-font-size: 8pt;
}

.menuButton {
    -fx-background-color: #ffffff;
}

.menu-item {
    -fx-background-color: #73000a;
    -fx-color: #73000A;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.chart-legend {
    -fx-font-size: 8px;
}


.axis-label {
    -fx-font-size: 8px;
}